---
layout: compress
---

<!DOCTYPE html>
<html lang="{{ site.language }}" class="no-js">
    {% include head.html %}
    <body class="has-push-menu">
        {% include svg-icons.html %}
        {% include header.html %}
            <section class="content">
                {{ content }}
            </section>
        {% include footer.html %}
        <!--鼠标点击出现大爆炸-->
        <script type="text/javascript" src="/assets/js/click/big_fireworks.js"></script>
        <script type="text/javascript" src="/assets/js/click/anime.min.js"></script>
        
        <!--鼠标彩色拖尾-->
        <script type="text/javascript" src="/assets/js/click/mouse-trail.js"></script>
        <script type="text/javascript" src="/assets/js/click/click_img.js"></script>
    </body>
</html>

